.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.button {
  height: 30px;
  padding: 7px;
  margin-right: 50px;
  background-color: #ffa67075;
  border: 1px dashed brown;
  border-radius: 7px;
}
